.page-teams {
  .team-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .team-image {
      height: 60px;
      width: 60px;
      margin-right: 10px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 60px;
      }
    }
    .team-meta {
      flex: 1;
      h2 {
        margin: 0;
        font-size: 29px;
        font-weight: normal;
        font-family: 'Montserrat';
      }
      p {
        color: $black;
        text-transform: uppercase;
        margin: 0;
        font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 17px;
        font-weight: 500;
      }

      .email{
        color: $black;
        margin: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 17px;
        font-weight: 500;
      }
    }
    .team-content {
      margin-top: 15px;
      flex: 1 0 100%;
      color: black;
      font-family: Lato;
      font-size: 17px;
    }
  }

  .team-summary-large {
    background-color: rgb(224, 232, 243);
    padding: 30px;
    border-radius: 10px;
    .team-image {
      height: 90px;
      width: 90px;
      margin-right: 20px;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 90px;
        border-radius: 50%;
      }
    }
  }
}
